<!doctype html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>ERobotLab UC</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/reserva.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<a class="inlink" href= "{{ url_for('main') }}"><h1> ERobotLab UC</h1></a>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>		
				<a class='link' href="">Reservar Hora</a>
			</div>
			</nav>
		</div>
		<h3> Reserva de horas</h3>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
      			Oops: {{message}}
      		{% endfor %}
      		{% else %}
   			{% endif %}
   		{% endwith %}
		<div class="month">
		  <ul>
		    <li class="prev">&#10094;</li>
		    <li class="next">&#10095;</li>
		    <li><div class ="month_name"></div><br><span style="font-size:18px">2021</span></li>
		  </ul>
		</div>

		<ul class="weekdays">
		  <li>Do</li>
		  <li>Lu</li>
		  <li>Ma</li>
		  <li>Mi</li>
		  <li>Ju</li>
		  <li>Vi</li>
		  <li>Sa</li>
		</ul>

		<ul class="days">
		  <li><span class="inactive">27</span></li>
		  <li><span class="inactive">28</span></li>
		  <li><span class="inactive">29</span></li>
		  <li><span class="inactive">30</span></li>
		  <li>1</li>
		  <li>2</li>
		  <li>3</li>
		  <li><span class="active">4</span></li>
		  <li>5</li>
		  <li>6</li>
		  <li>7</li>
		  <li>8</li>
		  <li>9</li>
		  <li>10</li>
		  <li>11</li>
		  <li>12</li>
		  <li>13</li>
		  <li>14</li>
		  <li>15</li>
		  <li>16</li>
		  <li>17</li>
		  <li>18</li>
		  <li>19</li>
		  <li>20</li>
		  <li>21</li>
		  <li>22</li>
		  <li>23</li>
		  <li>24</li>
		  <li>25</li>
		  <li>26</li>
		  <li>27</li>
		  <li>28</li>
		  <li>29</li>
		  <li>30</li>
		  <li>31</li>
		  
		  
		</ul> 
		<div class="square">
			Horas disponibles:
			<div class="container_horas">
				<form method = "POST" class = "horform"> 
					<input type="hidden" name="dia" id = "dia" value="">
					<input type="hidden" name="id_exp" id = "id_exp" value=1>
					{% for hora in ava %}
		        		<button class="hora_bubble" type="submit" name="hora" value={{hora}}>{{hora}}</button>
		    		{% endfor %}
				</form>
			</div>
		</div>

		<meta name = "taken"  content="{{taken}}"/>

		<script src ="{{ url_for('static', filename = 'js/script_cal.js') }}"></script>
	</body>
	</html>