body{
	background-color: #191919;
	font-family:  'Montserrat', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
	color: #ffffff;
	margin: 0px;
	
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.square {
	background-color: #fed802;
	width: 50%;
	padding: 2%;
	margin: 2%;
	color: #000000;
}

.container_sim {
	display: flex;
	flex-direction: row;
}

.block {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	margin: 8px;
	background-image: url(sim.png);
	background-size: cover;
	background-position: center;
	width: 15vw;
	height: 12vw;

}

.foto {
	height: 10vw;
	width: 10vw;
	align-self: center;
	margin: 10px;
}

.desc {
	font-size: 10px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	background-color: transparent;
	width: 14.4vw;
	height: 12vw;
	color: transparent;
	border-radius: 20px;
	font-weight: bolder;
}

.desc:hover
{
	background-color: rgba(211, 211, 211, 0.7);
	color: black;
}

h3 {
	background-color: grey;
	color: white;
	padding-left: 5px;
}

.container_horas {
	background-color: white;
	border-radius: 20px;
	padding-left: 10px;
}

.nombre {
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	margin: 0px;
}

.container_exp {
	display: flex;
	flex-direction: column;
	width: 15vw;
	margin-right: 1.7vw;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


nav {
	background-color: grey;
	color: white;
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family:  'Montserrat', sans-serif;
	font-style: extra-bold;
	font-variant: normal;
	font-weight: bolder;
	border: none;
	margin: none;
  }

  .link {
	height: 50px;
    padding: 25px 20px;
	letter-spacing: 120%;}

 /* LINKS NAVBAR */
.link:hover {
    background-color: hsla(197, 62%, 70%, 90%);
}

.link:focus {
    background-color:#420E5B;
}

.link:active {
    background-color: hsla(287, 51%, 34%, 1);
}

.nav-links a {
	text-decoration: none;
	color: white;
}