backports.entry-points-selectable==1.1.0
bidict==0.21.4
cffi==1.15.0
click==8.0.3
colorama==0.4.4
distlib==0.3.3
dnspython==2.1.0
eventlet==0.32.0
filelock==3.3.1
Flask==2.0.2
Flask-SocketIO==4.3.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
importlib-metadata==4.8.1
iso8601==0.1.16
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.21.3
platformdirs==2.4.0
pycparser==2.21
pyserial==3.5
python-engineio==3.13.2
python-socketio==4.6.0
PyYAML==6.0
serial==0.0.97
six==1.16.0
typing-extensions==3.10.0.2
virtualenv==20.8.1
Werkzeug==2.0.2
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0