<!doctype html>
	<html>
	<head>
		<title>
		ERobotLab UC
		</title>
		<meta charset="uft-8">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_lab.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<h1> ERobotLab UC</h1>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>	
				<a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
			</div>
			</nav>
		</div>

		<div id="wrapper">

			<div class="container"> 
				<div class="square">
					<h2> Nuestras Experiencias </h2>
					<div class="container_sim">
						<div class="container_exp">
							<p class="nombre"> Robot PID </p>
							<a class="inlink" href= "{{ url_for('exper') }}">
								<div class="block" id="img_pid">
									<div class ="desc">
										Esta experiencia te ayudará a enteder y practicar el control PID para la conducción de un sistema robótico de dos ruedas. Usando tres constantes podrás hacer que el robot llegue a un punto indicado de forma consistente. 
									</div> 
								</div>
							</a>
						</div>
						<div class="container_exp">
							<p class="nombre"> ??? </p>
							<div class="block" id="img_line_follower">
								<div class ="desc">
									Coming Soon!
								</div> 
							</div>
						</div>
						<div class="container_exp">
							<p class="nombre"> ??? </p>
							<div class="block" id="img_robotic_arm">
								<div class ="desc">
									Coming Soon!
								</div> 
							</div>
						</div>
					</div>
			</div>
			<div class="square">
				<h2> Horas actuales y próximas</h2>
				<div class="container_horas">
					<p> Hora actual:
				{% if now %}
					<a href="{{ url_for('experiencia_base_movil') }}"> Tienes reservada la hora: accede aquí!</a>
				{% else %}
					No tienes esta hora reservada.
   				{% endif %}
				</p>
				</div>
				<div = class="container_horas">
					<p> Horas próximas: 
						{% if week %}
						{% for day in week %}
      					({{day["fecha"]}} , {{day["hora"]}})
      					{% endfor %}
      					{% else %}
   						{% endif %} </p>
				</div>
			</div>
		</div>
	</div>
	</body>