ul {list-style-type: none;}
body{
  background-color: #ffffff;
  font-family:  'Montserrat', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
  margin: 0px;
  
}

/* Month header */
.month {
  padding: 70px 25px;
  width: auto;
  background: rgb(255, 210, 0, 0.2);
  text-align: center;
  margin-top: 2%;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: rgb(255, 210, 0, 0.2);
  color: black; 
}

/* Highlight the "current" day */
.days li .inactive {
  color: lightgrey; 
}

/* Highlight the "current" day */
.days li .selected {
  padding: 5px;
  background: #fed802;
  color: black; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


nav {
  background-color: rgb(255, 210, 0, 0.9);
  color: black;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:  'Montserrat', sans-serif;
  font-style: extra-bold;
  font-variant: normal;
  font-weight: bolder;
  border: none;
  margin: none;
  }

  .link {
  height: 40px;
    padding: 21.5px 20px;
  letter-spacing: 120%;}

 /* LINKS NAVBAR */
 .link:hover {
  background-color: rgb(255, 243, 189);
  border-radius: 20px;
}

.link:focus {
    background-color:#420E5B;
}

.link:active {
    background-color: hsla(287, 51%, 34%, 1);
}

.nav-links a {
  text-decoration: none;
  color: black;
}

h3 {
  margin-top: 90px;
  text-align: center;
  color: black;
}

.square {
  background-color: rgb(255, 210, 0, 0.2);
  width: 50%;
  padding: 2%;
  margin: 2%;
  color: #000000;
  margin-left: 25%;
  border-radius: 100px;
  font-size: 1.4vw;
}

.container_horas {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
}

.hora_bubble {
  background-color: white;
  border-radius: 100px;
  padding: 8px;
  text-align: center;
  margin-right: 5vw;
  font-size: 1.3vw;
  border-style: solid;
  border-color: white;
}

.hora_bubble:hover {
  background-color: lightgrey;
  border-style: dotted;
  border-color: mediumpurple;
}

.inlink{
  text-decoration: none;
  color: black;
}

.header{
  position: fixed;
  width: 100%;
  background-color: white;
  top:0;
  z-index: 1;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}