<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}"></link>
</head>
<body>

<form method="post">
  <div class="container">
    <h1>Regístrate</h1>
    <p>Por favor rellena los siguientes datos.</p>
    <hr>

    <label for="name"><b>Nombre</b></label>
    <input type="text" placeholder="Ingresar Nombre" name="name" id="name" required>

    <label for="last_name"><b>Apellido</b></label>
    <input type="text" placeholder="Ingresar Apellido" name="last_name" id="last_name" required>

    <label for="email"><b>Mail</b></label>
    <input type="text" placeholder="Ingresar Mail" name="email" id="email" required>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese Contraseña" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repetir Contraseña</b></label>
    <input type="password" placeholder="Repita su Contraseña" name="psw-repeat" id="psw-repeat" required>

    <div id=cargo_div>
      <label for="cargo"><b>Cargo</b></label>
      <div class=full_horizontal>
      <select id="cargo" name ="cargo">
        <option value="" selected disabled hidden>Escoja su cargo</option>
        <option value="alumno">Alumno</option>
        <option value="profesor">Profesor</option>
        <option value="otro">Otra /  No aplica</option>
      </select>
      </div>
      </div>

    <div id=institucion_div>
    <label for="institucion"><b>Institución</b></label>
    <div class=full_horizontal>
    <select id="institucion" name="inst">
      <option value="" selected disabled hidden>Escoja su institucion</option>
      <option value="UC">Universidad Católica de Chile</option>
      <option value="UCh">Universidad de Chile</option>
      <option value="UAI">Universidad Adolfo Ibañez</option>
      <option value="USACH">Universidad de Santiago</option>
      <option value="USM">Universidad Técnica Federico Santa María</option>
      <option value="DUOC">DUOC UC</option>
      <option value="otro">Otra /  No aplica</option>
    </select>
    </div>
    </div>

    <div id=carrera_div>
    <label for="carrera"><b>Carrera</b></label>
    <div class=full_horizontal>
    <select id="carrera" name="carrera">
      <option value="" selected disabled hidden>Escoja su carrera</option>
      <option value="ing">Ingeniería Civil</option>
      <option value="ing_comercial">Ingeniería Comercial</option>
      <option value="fisica">Física</option>
      <option value="agronomia">Agronomía</option>
      <option value="pedagogia">Pedagogía</option>
      <option value="otro">Otra / Prefiero no decir</option>
    </select>
    </div>
    </div>

    <div id=major_div>
    <label for="major"><b>Major</b></label>
    <div class=full_horizontal>
    <select id="major" name = "major">
      <option value="" selected disabled hidden>Escoja su major</option>
      <option value="computacion">Computación</option>
      <option value="mecanica">Mecánica</option>
      <option value="robotica">Robótica</option>
      <option value="industrial">Industrial</option>
      <option value="electrica">Eléctrica</option>
      <option value="otro">Otro / Prefiero no decir</option>
    </select>
    </div>
    </div>


    <hr>
    <p>Al crear una cuenta, acepta nuestros <a href="#">Término y Condiciones</a>.</p>

    <button type="submit" class="registerbtn">Registrarme</button>
  </div>
  
  <div class="container signin">
    <p>Ya tienes una cuenta? <a href="#">Ingresar</a>.</p>
  </div>
</form>

<script src="{{ url_for('static', filename = 'js/script.js') }}"></script>

</body>
</html>