<!doctype html>
	<html>
	<head>
		<title>
		ERobotLab UC / Experiencia 
		</title>
		<meta charset="uft-8">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_experiencia.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<h1> ERobotLab UC</h1>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>	
				<a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
			</div>
			</nav>
		</div>

	<div id="wrapper">
      <div class="container"> 
		<div class="square">

          <h2>Camara Laboratorio</h2>
          <img id = "labcam" src="{{ url_for('video_feed') }}">
          
          <form action="/camera">
            <input type="submit" value="Open camera">
          </form>
          
		</div>

		<div class="sidenav">
		
		<h2>Constantes PID</h2>
		<p>Ingrese los valores deseados para las constantes del control PID del robot. A continuación, presione el botón "Enviar".</p>

		<form action="/experiencia_base_movil/set_constants">

			<div>
				<h3>Control Distancia</h3>
				<label for="kp">K<sub>p</sub>:</label>
				<input type="number" id="kpl" name="kpl"  step = "any" value = 0><br>
				
				<label for="kp">K<sub>i</sub>:</label>
				<input type="number" id="kil" name="kil" step = "any" value = 0><br>
				
				<label for="kp">K<sub>d</sub>:</label>
				<input type="number" id="kdl" name="kdl" step = "any" value = 0><br>
			</div>

			<div>
				<h3>Control Ángulo</h3>
				<label for="kp">K<sub>p</sub>:</label>
				<input type="number" id="kpa" name="kpa" step = "any" value = 0><br>
				
				<label for="kp">K<sub>i</sub>:</label>
				<input type="number" id="kia" name="kia" step = "any" value = 0><br>
				
				<label for="kp">K<sub>d</sub>:</label>
				<input type="number" id="kda" name="kda" step = "any" value = 0><br>
			</div>

			<input type="submit" value="Enviar">
		</form> 	
		  
		<form action = "/experiencia_base_movil/set_constants?kpl=0&kil=0&kdl=0&kpa=0&kia=0&kda=0">
			<input type = "submit" value = "Detener">
		</form>
	<br>
	
	<hr>
      <h2>Velocidad Motores</h2>
	  <p>Ingrese los valores deseados para la velocidad de cada motor del robot. A continuación, presione el botón "Enviar".</p>

      <form action="/experiencia_base_movil/set_speed">
        <label for="fname">M1 Speed:</label><br>
        <input type="text" id="m1" name="m1"><br>
        <label for="lname">M2 Speed:</label><br>
        <input type="text" id="m2" name="m2"><br><br>
        <input type="submit" value="Enviar">
      </form> 


	  <script src ="{{ url_for('static', filename = 'js/script_exp.js') }}"></script>
	
	</div>
</body>
</html>