<!doctype html>
	<html>
	<head>
		<title>
		ERobotLab UC
		</title>
		<meta charset="uft-8">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/exp.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<a class="inlink" href= "{{ url_for('main') }}"><h1> ERobotLab UC</h1></a>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>		
				<a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
			</div>
			</nav>
		</div>
		<div class="container"> 
			<div class="square top">
				<h1> Robot PID / Robot Fundamentos </h1>
				<hr>
				<br>
				<div class="container_info">
					<img src="{{ url_for('static', filename='img/mobile_base.jpeg') }}" class="pic">
					<div class="info_square">	
						<h2>¿Que es el Control Automático</h2>
						<hr>
						<p>El control automático es el proceso de hacer que variables de un sistema se ajusten a un valor determinado.
							Esto nos permite controlar el estado de un sistema, por ejemplo un robot, para que realice las acciones que queremos
							de una manera precisa y eficiente.
						</p>
							<br> 
							Un buen sistema de control cuenta con las siguientes características:
							<ul>
								<li>Estable.</li>
								<li>Cuenta con un seguimiento o feedback del sistema.</li>
								<li>Robustez.</li>
								<li>Rechazo de Perturbaciones.</li>
								<li>Optimalidad.</li>
							</ul>
							Para un buen sistema de control, es necesario contar con modelos que permitan predecir el comportamiento del objeto. 
							<br> 

							Un controlador finalmente es una función cuyo input es el error, que corresponde a la diferencia entre el valor esperado 
							de la variable controlada, o referencia, y el valor actual de la variable. El output del controlador es la llamada señal de control
							la cual altera, directa o indirectamente la variable controlada para poder regularla.
						</div>

						<div class="info_square">
						<h2>Control PID</h2>
						<hr>
						<p>
							Su nombre viene de la sigla Proporcional, Integral, Derivativo. Es un sistema cuya señal de control corresponde a la ponderación
						de tres variables relacionadas con el error del sistema	según tres constantes que varían en cada caso y que se deben escoger según 
						las propiedades que se deseen.
						</p>			
						<ul>
							<b><li>K<sub>p</sub>:</b> Regula la ponderación del control proporcional, se pondera directamente con el error. Intuitivamente,
								a mayor error, más "fuerza" hay que ejercer para que el sistema se acerque a su referencia. </li>
								<b><li>K<sub>i</sub>:</b> Regula la ponderación del control integral, se pondera por la integral del error. Generalmente se utiliza 
									para contrarrestar errores constantes producidos por fuerzas externas que el control proporcional no es capaz de manejar. Mientras más
							tiempo se mantiene un error, más se acumula en la integral y más fuerza aporta el control integral. 
							</li>
							<b><li>K<sub>d</sub>:</b> Regula la ponderación del control derivativo, se pondera con la derivada del error. Sirve para disminuír 
							oscilaciones. Intuitivamente, si la variación del error es muy grande con signo positivo, la derivada va a a ser proptiorcional pero 
							con signo negativo, lo mismo ocurre con el signo opuesto.</li>
						</ul>
					</div>
						

					</div>
				</div>
			<div class="square">
				<h2> Experiencias</h2>
				<div class="container_bts">
					<a href="{{ url_for('sim') }}" id = "links_spec">
					<div class="boton">
						Simulación Robot PID
					</div>
					</a>
					<a href="{{ url_for('exp_con') }}">
					<div class="boton">
						Experiencia Robot PID
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</body>