<!doctype html>
	<html>
	<head>
		<title>
		ERobotLab UC
		</title>
		<meta charset="uft-8">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/exp.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<a class="inlink" href= "{{ url_for('main') }}"><h1> ERobotLab UC</h1></a>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>		
				<a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
			</div>
			</nav>
		</div>
		<div class="container"> 
			<div class="square">
				<h1> Robot PID / Robot Fundamentos </h1>
				<hr>
				<br>
				<div class="container_info">
					<img src="{{ url_for('static', filename='img/mobile_base.jpeg') }}" class="pic">
					<div class="info_square">	
						<h2>¿Que es el Control Automático</h2>
						<hr>
						<p>El control automático es el proceso de hacer que variables de un sistema se ajusten a un valor determinado.
							Esto nos permite controlar el estado de un sistema, por ejemplo un robot, para que realice las acciones que queremos
							de una manera precisa y eficiente.
							<br> 
							Un buen sistema de control cuenta con las siguientes características:
							<ul>
								<li>Estable.</li>
								<li>Cuenta con un seguimiento o feedback del sistema.</li>
								<li>Robustez.</li>
								<li>Rechazo de Perturbaciones.</li>
								<li>Optimalidad.</li>
							</ul>
							Para un buen sistema de control, es necesario contar con modelos que permitan predecir el comportamiento del objeto. 
							<br> 

						<h2>Control PID/h2>
						<hr>
						<p>

						</p>
					</div>
				</div>
			</div>
			<div class="square">
				<h2> Experiencias</h2>
				<div class="container_bts">
					<a href="{{ url_for('sim') }}" id = "links_spec">
					<div class="boton">
						Simulación Robot PID
					</div>
					</a>
					<a href="{{ url_for('exp_con') }}">
					<div class="boton">
						Experiencia Robot PID
					</div>
					</a>
				</div>
			</div>
		</div>
	</body>