<!doctype html>
	<html>
	<head>
		<title>
		ERobotLab UC
		</title>
		<meta charset="uft-8">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_lab.css') }}">
	</head>
	<body>
		<div class="header">
			<nav>
			<a class="inlink" href= "{{ url_for('main') }}"><h1> ERobotLab UC</h1></a>
			<div class="nav-links">
				<a class='link' href="{{ url_for('perfil') }}">Mi Cuenta</a>		
				<a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
			</div>
			</nav>
		</div>
		<div class="container"> 
			<div class="square">
				<h2> Robot PID </h2>
				<div class="container_info">
					<img src="{{ url_for('static', filename='img/mobile_base.jpeg') }}" class="pic">
					<div class="info_square">
						{{exp['descripcion']}}
					</div>
				</div>
			</div>
			<div class="square">
				<h2> Experiencias</h2>
				<div class="container_bts">
					<a href="{{ url_for('sim') }}">
					<div class="boton">
						Simulación Robot PID
					</div>
					</a>
					<div class="boton">
						Experiencia Robot PID
					</div>
				</div>
			</div>
		</div>
	</body>