<!DOCTYPE html>
<html lang="en">
<head>
<title>Experiencias</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo_perfil.css') }}">

</head>
<body>

<div class="header">

  <nav>
    <a class="inlink" href= "{{ url_for('main') }}"><h1> ERobotLab UC</h1></a>
    <div class="nav-links">
        <a class='link' href="">Mi Cuenta</a>		
        <a class='link' href="{{ url_for('res') }}">Reservar Hora</a>
    </div>
    
  </nav>
 

</div>

<div id="wrapper">
    <div class="sidenav">
    <a class ="not_current" href="{{ url_for('perfil') }}">Datos personales</a>
    <a class="current" href="#">Experiencias</a>
    <a class="not_current" href="#">Link</a>
    </div>

    <div class="content">
    <h2>Historial de Experiencias</h2>
    
    <table>

      <tr>
        <th> Experiencia</th>
        <th>Fecha</th>
        <th>Encargado</th> 
      </tr>

      <tr>
        <td>Brazo Robótico</td>
        <td>25/05/2021</td>
        <td>Daniel Calabi</td>
      </tr>

      <tr>
        <td>Robot Móvil</td>
        <td>27/06/2021</td>
        <td>Daniel Calabi</td>
      </tr>
      </table>

      <h2 style="margin-top: 40px">Experiencias Agendadas</h2>
    
      <table>
  
        <tr>
          <th> Experiencia</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Encargado</th> 
        </tr>

        {% for res in reservas %}
  
        <tr>
          <td>{{nombres_exp[res['id_exp'] - 1]}}</td>
          <td>{{res['fecha']}}</td>
          <td>{{res['hora']}}</td>
          <td>Daniel Calabi</td>
        </tr>

        {% endfor %}
        
      </table>
        
      <a class="boton" href="{{ url_for('res') }}"> Agendar Experiencia</a>
    </div>
</div>

</body>
</html>


</body>
</html>